:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
  align-items: center;

  .metro-header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;

    .form-section {
      display: flex;
      flex-direction: column;
      gap: 32px;
      flex: 1.2;

      .images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;

        > img {
          width: 64px;
          aspect-ratio: 1;
        }
      }
    }

    .metro-schedule-section {
      flex: 1.2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      > img {
        width: 64px;
      }

      .metro-schedule-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .info-row {
          display: flex;
          flex-direction: row;
          gap: 32px;

          .title {
            font-weight: bold;
            width: 128px;
          }
        }
      }
    }
  }

  .metro-info {
    display: flex;
    flex-direction: column;

    .metro-stations-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      flex: 1;

      .stations {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 70%;

        > li {
          cursor: pointer;
        }
      }
    }
  }

  .station-schedules {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    justify-content: center;
    align-items: center;

    > h4 {
      font-size: 18px;
    }

    .schedules {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
      max-width: 70%;
    }

    .empty-schedules {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 1024px) {
    .metro-header-section {
      flex-direction: column;
    }
  }
}
