<div class="metro-header-section">
  <div class="form-section">
    <div class="images">
      <img src="assets/images/metro.png" alt="metro"/>
      <img src="assets/images/tram.png" alt="tram"/>
      <img src="assets/images/rer.png" alt="rer"/>
    </div>
    <form class="form" [formGroup]="metroForm" (ngSubmit)="onSubmit()">
      <div class="field-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Metro Line</mat-label>
          <mat-select [formControl]="line" required>
            <mat-option *ngFor="let metro of metros" [value]="metro.name">{{metro.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-actions">
        <button mat-flat-button color="primary" type="submit">CHECK</button>
      </div>
    </form>
  </div>
  <div class="metro-schedule-section" *ngIf="!!metro">
    <img [src]="'assets/images/metro/' + metro.name +'.png'" alt="Metro line"/>
    <div class="metro-schedule-info">
      <div class="info-row">
        <h4 class="title">Stations</h4>
        <h4 class="title">First metro</h4>
        <h4 class="title">Last metro</h4>
      </div>
      <div class="info-row" *ngFor="let schedule of metro.schedules">
        <h4 class="title">{{schedule.terminus}}</h4>
        <h4 class="title">{{!!schedule.schedules?.length ? numberToSchedule(schedule.schedules[0]) : 'Out of Service'}}</h4>
        <h4 class="title">{{!!schedule.schedules?.length ? numberToSchedule(schedule.schedules[schedule.schedules.length - 1]): 'Out of Service'}}</h4>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!!metro" class="metro-info">
  <div class="metro-stations-section">
    <h1>Stations</h1>
    <ul class="stations">
      <li *ngFor="let station of metro.stations" (click)="getSchedules(station)">{{station.name}}</li>
    </ul>
  </div>
</div>
<div *ngIf="!!selectedStationSchedules" class="station-schedules">
  <h4>{{selectedStationSchedules.station}}</h4>
  <ul class="schedules" *ngIf="!!selectedStationSchedules.schedules?.length">
    <li *ngFor="let schedule of selectedStationSchedules.schedules">{{getTimeForNode(schedule)}}</li>
  </ul>
  <div *ngIf="!selectedStationSchedules.schedules?.length" class="empty-schedules">
    <mat-icon>cloud_off</mat-icon>
    <p>No schedule for given station in this line</p>
  </div>
</div>
